/* General Styles */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin-top: 70px; /* To prevent content hiding under fixed navbar */
}

main {
    flex: 1;
}

/* Hero Section */
#home {
    height: 100vh;
    background: linear-gradient(135deg, #3498db, #2ecc71);
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
}

/* Canvas Fade Effect */
#game-of-life-canvas {
    transition: opacity 0.5s ease-in-out;
}

/* Cards */
.card {
    margin-bottom: 20px;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

/* Footer */
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa; /* Ensure the background color covers the entire footer */
    padding: 20px 0; /* Add padding to ensure the content is captured */
    line-height: 60px; /* Vertically center the text */
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Custom Button Styles */
.custom-btn {
    background-color: #f8f9fa; /* Custom color */
    color: blue;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.custom-btn:hover {
    background-color: #e0edf9; /* Hover color */
    color: black;
}

/* Centered Buttons */
.text-center .btn {
    margin: 5px 0;
}

/* Photo Container Styles */
.photo-container {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

/* Social Icons */
.social-icons a {
    margin: 0 10px;
    color: #333;
    font-size: 24px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #007bff;
}