<!-- templates/about.html -->

{% extends "base.html" %}
{% block title %}About - {{ your_name }}{% endblock %}

{% block content %}
<section id="about" class="container my-5">
    <h2>About Me</h2>
    <div class="row">
        <div class="col-md-8">
            <p>
                I am an {{ job_title }} at Non-Von. I serve as the machine learning subject matter expert on an interdisciplinary team of neuroscientists, hardware architects, and software engineers uniquely suited to the co-design of neuromorphic hardware and machine learning models. I work to synthesize new ideas and models from the latest discoveries regarding learning in the animal brain, and leverage this work to improve and refine system design choices. In addition to my research and design role, I work directly on development of the software components of our system including model training, efficient inference, approximation algorithms, combinatorial optimization, and firmware.
            </p>
            <p>
                I am a Ph.D. candidate in the Signal & Image Processing track of the Electrical Engineering and Computer Science department at the University of Michigan, Ann Arbor. I am co-advised by Clay Scott and Laura Balzano. I have been on leave since 2023.
            </p>
            <p>
                My research is primarily in Machine Learning, with a particular emphasis on generative models, statistical learning, optimization, and fairness.
            </p>
            <p>
                My technical interests include:
            </p>
            <ul>
                <li>Statistical modeling/analysis</li>
                <li>Model implementation/training/evaluation (deep, shallow)</li>
                <li>Utilizing transfer learning and foundation models</li>
                <li>Dealing with large/complex data</li>
                <li>Technical communication</li>
            </ul>
            <p>
                My personal interests include:
            </p>
            <ul>
                <li>Music</li>
                <li>Disc golf</li>
                <li>Reading</li>
                <li>Social and environmental justice</li>
            </ul>
            {# <a href="{{ url_for('projects') }}" class="btn custom-btn btn-lg mt-3">View My Work</a> #}
        </div>
        <div class="col-md-4 text-center">
            <div class="photo-container">
                <img src="{{ url_for('static', filename='content/images/suit2024.jpeg') }}" alt="{{ your_name }}" class="img-fluid rounded-circle">
                <div class="mt-3">
                    <a href="{{ url_for('static', filename='content/documents/Ritchie_Resume_March24-1.pdf') }}" target="_blank" class="btn custom-btn btn-lg">Resume</a>
                    <a href="{{ url_for('static', filename='content/documents/CV2024.pdf') }}" target="_blank" class="btn custom-btn btn-lg">Full CV</a>
                </div>
            </div>
        </div>
    </div>  
</section>
{% endblock %}
