<!-- templates/sections/hero.html -->
<section id="home" class="jumbotron" style="position: relative; overflow: hidden;">
    <div class="container text-center text-black" style="position: relative; z-index: 1;">
        <h1 class="display-4">{{ your_name }}</h1>
        <p class="lead">{{ job_title }}</p>
        <a href="#about" class="btn btn-primary btn-lg">Learn More About Me</a>
    </div>
    <canvas id="game-of-life-canvas" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 0;"></canvas>
</section>